@font-face {
    font-family: PlayfairDisplay;
    font-weight: 400;
    src: url(../fonts/PlayfairDisplay-Regular.woff2);
}

@font-face {
    font-family: Comforta;
    font-weight: 400;
    src: url(../fonts/Comfortaa-Regular.woff2);
}

@font-face {
    font-family: Comforta;
    font-weight: 300;
    src: url(../fonts/Comfortaa-Light.woff2);
}

@font-face {
    font-family: Comforta;
    font-weight: 700;
    src: url(../fonts/Comfortaa-Bold.woff2);
}

