@import 'reset';
@import 'fonts';
@import 'variables';

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
}

.html-lock {
    overflow: hidden;
}

body {
    font-family: Comforta, sans-serif;
    font-size: 1.25rem;
    font-weight: 400;
}

.big-heading {
    font-family: PlayfairDisplay;
    font-size: 3.75rem;
    letter-spacing: 0.72px;
    font-weight: 400;
}

.small-heading {
    font-family: PlayfairDisplay;
    font-size: 2.5rem;
    letter-spacing: 0.48px;
    font-weight: 400;
}

.btn {
    display: inline-block;
    padding: 22px 0 20px 0;
    color: var(--clr-text-light);
    background-color: var(--clr-main);
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    text-align: center;
    cursor: pointer;
    &--transparent {
        border: 2px solid var(--clr-main);
        background-color: transparent;
    }
}

.social {
    display: flex;
    gap: 8px;
}

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 60px 70px;
    overflow-y: auto;
    overflow-x: hidden;
    display: none;
    justify-content: center;
    align-items: start;
    margin: 0 auto;
    background: rgba(34, 34, 34, 0.80);
    &--active {
        display: flex;
    }
}

.modal-close {
    position: absolute;
    top: -40px;
    right: -45px;
    width: 33px;
    height: 33px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    & span {
        position: absolute;
        display: block;
        width: 100%;
        height: 2px;
        background-color: var(--clr-text-light);
        &:nth-child(1) {
            transform: rotate(45deg);
        }
        &:nth-child(2) {
            transform: rotate(-45deg);
        }
    }
}


.nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 30px 0;
    color: var(--clr-text-light);
    font-size: 0.875rem;
    &__inner {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__list {
        display: flex;
        gap: 30px;
    }
    &__contacts {
        display: flex;
        align-items: center;
        gap: 16px;
    }
    &__phone {
        display: flex;
        flex-direction: column;
        align-items: end;
    }
    &__phone-link {
        font-size: 1.25rem;
    }
    &__phone-text {
        font-weight: 300;
    }
    &__cart-btn {
        position: absolute;
        bottom: -100px;
        right: 0;
        padding: 18px 20px;
        background-color: var(--clr-text-light);
        border: none;
        border-radius: 50%;
        cursor: pointer;
        z-index: 25;
    }
    &__cart-counter {
        position: absolute;
        bottom: -4px;
        right: 2px;
        display: none;
        padding: 5px 9px 3px 9px;
        color: var(--clr-text-light);
        background-color: var(--clr-main);
        border-radius: 50px;
        &--active {
            display: block;
        }
    }
    &--small {
        padding: 10px 0;
        background-color: var(--clr-text-dark);
    }
    transition: padding .3s, background-color .3s;
    z-index: 10;
}

.hero {
    padding: 200px 0 130px 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(../images/main-background.jpg);
    background-image: image-set(
        url(../images/main-background.avif) type('image/avif'),
        url(../images/main-background.webp) type('image/webp'),
        url(../images/main-background.jpg),
    );
    color: var(--clr-text-light);
    &__inner {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
    &__info {
        max-width: 360px;
    }
    &__title {
        margin-bottom: 8px;
        line-height: 40px;
    }
    &__location {
        margin-bottom: 35px;
        display: flex;
        align-items: start;
        gap: 8px;
        font-size: 1rem;
        &::before {
            content: url(../images/map-point.svg);
        }
    }
    &__subtitle {
        margin-bottom: 12px;
    }
    &__text {
        margin-bottom: 40px;
        font-size: 0.875rem;
        color: #777;
    }
    &__btn-request {
        margin-bottom: 12px;
        display: block;
        width: 100%;
    }
    &__btn-catalog {
        display: block;
    }
}

@keyframes show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.catalog {
    padding: 120px 0;
    &__title {
        margin-bottom: 20px;
        text-align: center;
    }
    &__inner {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px 32px;
    }
    &__item {
        display: grid;
    }
    &__item-picture {
        grid-area: 1/-1;
    }
    &__img {
        border-radius: 10px;
        width: 100%;
    }
    &__item-info {
        margin: 9px 6px;
        padding: 13px 15px 16px;
        grid-area: 1/-1;
        align-self: end;
        color: var(--clr-text-light);
        background-color: rgba(#A52E44, .8);
        backdrop-filter: blur(3.5px);
        border-radius: 8px;
        transition: background-color .4s;
    }
    &__item-info-top {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        transition: color .4s;
    }
    &__btn-about {
        overflow: hidden;
        margin: 12px 0 10px 0;
        padding: 13px 0 16px 0;
        display: none;
        width: 100%;
        color: var(--clr-text-dark);
    }
    &__btn-buy {
        overflow: hidden;
        width: 100%;
        padding: 14px 0;
        display: none;
    }
    &__item-price {
        white-space: nowrap;
        &::after {
            content: ' ₽';
        }
    }
    &__item:hover &__btn-about,
    &__item:hover &__btn-buy {
        display: block;
        animation: show .4s;
    }
    &__item:hover &__item-info {
        background-color: rgba(#f8f8f8, .8)
    }
    &__item:hover &__item-info-top {
        color: var(--clr-text-dark);
    }
}

.discount {
    margin-bottom: 25px;
    text-align: center;
}

.about {
    padding: 120px 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(../images/about-background.jpg);
    background-image: image-set(
        url(../images/about-background.avif) type('image/avif'),
        url(../images/about-background.webp) type('image/webp'),
        url(../images/about-background.jpg),
    );
    color: var(--clr-text-light);
    font-weight: 300;
    &__top {
        margin-bottom: 57px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
    &__info {
        max-width: 500px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__info-text {
        letter-spacing: 0.24px;
    }
    &__swiper {
        margin-top: 21px;
        max-width: 568px;
        max-height: 282px;
        width: 100%;
    }
    &__swiper-btn-prev::after {
        content: url(../images/arrow-left.svg);
    }
    &__swiper-btn-next::after {
        content: url(../images/arrow-left.svg);
        transform: rotate(180deg);
    }
    &__slide {
        display: grid;
    }
    &__slide-picture {
        grid-area: 1/-1;
    }
    &__slide-panel {
        margin: 0 13px 11px;
        padding: 12px 14px;
        grid-area: 1/-1;
        justify-self: start;
        align-self: flex-end;
        display: flex;
        align-items: center;
        gap: 26px;
        background-color: rgba(165, 46, 68, 0.40);
        backdrop-filter: blur(3.5px);
        border-radius: 8px;
    }
    &__slide-panel-text {
        max-width: 270px;
    }
    &__slide-img {
        max-width: 568px;
        max-height: 282px;
    }
    &__bottom-title {
        margin-bottom: 25px;
    }
    &__bottom-list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 32px;
    }
    &__bottom-item {
        padding: 18px 6px 17px 20px;
        border-radius: 8px;
        background: rgba(165, 46, 68, 0.40);
        backdrop-filter: blur(5px);
        font-size: 1rem;
    }
}

.how {
    position: relative;
    padding-top: 122px;
    &::after {
        content: url(../images/branch.svg);
        position: absolute;
        top: 0;
        right: 0;
    }
    &__title {
        margin-bottom: 45px;
    }
    &__inner {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        gap: 20px;
    }
    &__list {
        display: flex;
        flex-direction: column;
        gap: 46px;
        list-style-type: none;
        counter-reset: how-counter;
    }
    &__item {
        position: relative;
        padding: 26px 32px 32px;
        background: #F1F1F1;
        border-radius: 10px;
        counter-increment: how-counter;
        &::before {
            content: '/'counter(how-counter);
            position: absolute;
            top: -65px;
            right: -40px;
            font-family: 'PlayfairDisplay', sans-serif;
            font-size: 6.25rem;
            font-weight: 400;
            letter-spacing: 1.2px;
        }
    }
    &__item-title {
        margin-bottom: 20px;
    }
    &__item-text {
        margin-bottom: 32px;
        font-size: 1.25rem;
        font-weight: 300;
    }
    &__item-bottom {
        display: flex;
        align-items: center;
        gap: 45px;
    }
    &__btn {
        padding-left: 60px;
        padding-right: 60px;
    }
    &__phone {
        display: flex;
        align-items: center;
        gap: 5px;
        &::before {
            content: url(../images/phone.svg);
            position: relative;
            top: 1px;
        }
    }
}

.contacts {
    &__inner {
        display: grid;
    }
    &__map {
        width: 100%;
        overflow: hidden;
        grid-area: 1/-1;
    }
    &__info {
        margin: 83px 0;
        position: relative;
        grid-area: 1/-1;
        color: var(--clr-text-light);
        z-index: 5;
    }
    &__info-inner {
        display: flex;
        justify-content: end;
    }
    &__panel {
        max-width: 500px;
        padding: 32px 40px 47px;
        background: rgba(165, 46, 68, 0.40);
        backdrop-filter: blur(5px);
        border-radius: 8px;
    }
    &__title {
        margin-bottom: 30px;
    }
    &__phone {
        display: block;
        margin-bottom: 25px;
    }
    &__social {
        margin-bottom: 35px;
    }
    &__location {
        margin-bottom: 12px;
        padding-left: 30px;
        position: relative;
        &::before {
            content: url(../images/map-point.svg);
            position: absolute;
            top: 0;
            left: 0;
        }
    }
    &__text {
        margin-bottom: 14px;
        font-size: 1rem;
    }
    &__btn {
        padding-left: 20px;
        padding-right: 20px;
    }
    &__picture {
        position: absolute;
        top: 15px;
        left: -205px;
        max-width: 231px;

    }
}

[class*="copyrights-pane"] {
    display: none !important;
}

[class*="ground-pane"] {
    filter: grayscale(1) invert(100%);
}

.footer {
    padding: 32px 0;
    color: var(--clr-text-light);
    background-color: var(--clr-text-dark);
    &__inner {
        display: flex;
        gap: 95px;
    }
    &__item {
        font-size: 1rem;
        font-weight: 300;
        &:last-child {
            margin-left: auto;
        }
    }
}

.modal-request,
.modal-viewing,
.modal-product,
.cart {
    &__inner {
        position: relative;
        max-width: 425px;
        margin: auto;
        padding: 32px 51px;
        background: #F8F8F8;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
    }
    &__title {
        margin-bottom: 44px;
    }
    &__form {
        display: flex;
        flex-direction: column;
        gap: 17px;
    }
    &__input {
        padding: 27px;
        font-weight: 300;
        color: var(--clr-text-dark);
        background: #E7E7E7;
        border: none;
        border-radius: 4px;
        &::placeholder {
            color: var(--clr-text-dark);
        }
    }
    &__text {
        font-size: 0.875rem;
        font-weight: 300;
        letter-spacing: 0.168px;
    }
    z-index: 15;
}

.modal-viewing {
    &__title {
        margin-bottom: 20px;
    }
    &__picture {
        margin-bottom: 30px;
    }
    &__img {
        border-radius: 10px;
    }
}

.modal-product {
    &__inner {
        max-width: 720px;
        padding: 53px 68px;
        display: grid;
        grid-template-columns: 7fr 5fr;
        gap: 15px 32px;
    }
    &__swiper {
        max-width: 400px;
        width: 100%;
        border-radius: 10px;
    }
    &__swiper-btn-prev:after {
        content: url(../images/arrow-left.svg);
    }
    &__swiper-btn-next:after {
        content: url(../images/arrow-left.svg);
        transform: rotate(180deg);
    }
    &__picture {
        height: 80%;
    }
    &__img {
        max-width: 400px;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &__title {
        margin-bottom: 36px;
        line-height: 1.08;
    }
    &__price {
        margin-bottom: 16px;
        font-size: 1.875rem;
        &::after {
            content: ' ₽ / шт';
        }
    }
    &__btn {
        margin-bottom: 42px;
        width: 100%;
    }
    &__text {
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    &__properties {
        margin-top: auto;
        font-size: 0.75rem;
    }
    &__gallery {
        margin: 0;
    }
    &__gallery-inner {
        gap: 14px;
    }
    &__item {
        max-width: fit-content;
        padding: 0;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    &__item-img {
        max-width: 100px;
        width: 100%;
        border-radius: 10px;
    }
}

.cart {
    &__inner {
        max-width: 525px;
        padding: 16px 48px 32px;
    }
    &__title {
        margin-bottom: 0;
        line-height: 1.62;
        border-bottom: 1px solid #848484;
    }
    &__item {
        padding: 16px 0;
        border-bottom: 1px solid #848484;
        display: grid;
        grid-template-columns: auto 1fr 1fr 1fr;
        align-items: center;
        gap: 17px;
    }
    &__img {
        max-width: 94px;
        border-radius: 10px;
    }
    &__item-title {
        font-family: PlayfairDisplay, sans-serif;
        font-size: 1.625rem;
        letter-spacing: 0.312px;
    }
    &__item-price {
        font-size: 1.5rem;
        text-align: right;
        white-space: nowrap;
        &::after {
            content: ' ₽';
        }
    }
    &__counter-wrapper {
        padding: 14px 0;
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        background-color: #E7E7E7;
        border-radius: 10px;
        font-size: 1.5rem;
    }
    &__counter-btn {
        padding: 0 12px;
        border: none;
        background-color: transparent;
        cursor: pointer;
    }
    &__counter {
        width: 100%;
        min-width: 30px;
        border: none;
        background-color: transparent;
        text-align: center;
    }
    &__price {
        margin-top: 18px;
        font-size: 1.75rem;
        text-align: right;
    }
    &__price-total,
    &__price-old {
        &::after {
            content: ' ₽';
        }
    }
    &__price-old {
        color: #B3B3B3;
        text-decoration: line-through;
        &--hidden {
            display: none;
        }
    }
    &__discount {
        margin-bottom: 32px;
        font-size: 1rem;
        font-weight: 700;
        text-align: right;
        &--hidden {
            display: none;
        }
    }
}


.hamburger {
    position: relative;
    width: 30px;
    height: 30px;
    margin-right: auto;
    display: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    & span {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: var(--clr-text-light);
        transition: all .3s;
    }
    & span:nth-child(2) {
        top: 15px;
    }
    & span:nth-child(3) {
        top: 30px;
    }
    &--active {
        position: fixed;
        top: 40px;
        right: 25px;
        margin-right: 0;
        margin-left: auto;
        & span:nth-child(1) {
            top: 15px;
            transform: rotate(45deg);
        }
        & span:nth-child(2) {
            transform: scale(0);
        }
        & span:nth-child(3) {
            top: 15px;
            transform: rotate(-45deg);
        }
    }
    z-index: 75;
}

@media (max-width: 1300px) {
    .how {
        &__inner {
            align-items: end;
        }
        &__list {
            margin-right: 30px;
        }
        &__item-bottom {
            flex-direction: column;
            align-items: start;
            gap: 15px;
        }
    }
}

@media (max-width: 1120px) {
    .hamburger {
        display: flex;
    }
    .nav {
        &__inner {
            justify-content: left;
        }
        &__list {
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            padding: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            font-size: 2rem;
            background-color: var(--clr-text-dark);
            transform: translateY(-100%);
            &--active {
                transform: translateY(0);
            }
            z-index: 50;
            transition: all .3s;
        }
    }
}

@media (max-width: 1000px) {
    .catalog {
        &__inner {
            grid-template-columns: repeat(3, 1fr);
        }
    }
    .about {
        &__top {
            grid-template-columns: 1fr;
        }
    }
    .footer {
        &__inner {
            gap: 10px 0;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        &__item:nth-child(3) {
            margin-left: 0;
        }
    }
    .modal-product {
        &__inner {
            grid-template-columns: 1fr;
        }
        &__info {
            order: 1;
        }
        &__gallery {

        }
    }
}

@media (max-width: 900px) {
    .how {
        &__inner {
            grid-template-columns: 1fr;
            justify-items: center;
        }
        &__picture {
            order: 1;
        }
    }
}

@media (max-width: 820px) {
    .contacts {
        &__panel {
            max-width: fit-content;
        }
        &__picture {
            display: none;
        }
    }
}

@media (max-width: 768px) {
    .catalog {
        &__inner {
            grid-template-columns: repeat(2, 1fr);
        }
    }
    .about {
        &__bottom-list {
            grid-template-columns: repeat(2, 1fr);
        }
    }
    .cart {
        &__counter-wrapper {
            font-size: 1rem;
        }
    }
}

@media (max-width: 600px) {
    .cart {
        &__item {
            grid-template-columns: auto 1fr;
        }
    }
}

@media (max-width: 525px) {
    .modal-close {
        top: -45px;
        right: 0;
    }
}

@media (max-width: 500px) {
    .nav {
        &__inner {
            flex-wrap: wrap;
        }
        &--small &__contacts {
            display:none;
        }
        &__cart-btn {
            padding: 12px 14px;
            bottom: 45px;
        }
        &--small &__cart-btn {
            bottom: 5px;
        }
    }
    .hamburger {
        margin-right: 0;
    }
    .hero {
        padding-bottom: 50px;
    }
    .catalog {
        padding: 60px 0;
        &__item-info {
            font-size: 1rem;
        }
        &__item-info-top {
            gap: 10px;
        }
        &__btn-about,
        &__btn-buy {
            font-size: .75rem;
        }
    }
    .about {
        padding: 60px 0;
    }
    .modal-product {
        &__inner {
            padding: 30px 40px;
        }
    }
}

@media (max-width: 425px) {
    .catalog {
        &__inner {
            grid-template-columns: 1fr;
        }
    }
    .about {
        &__slide-panel-text {
            font-size: 1rem;
            max-width: min-content;
            min-width: 160px;
        }
        &__bottom-list {
            grid-template-columns: 1fr;
        }
    }
}

@media (max-width: 400px) {
    body {
        font-size: 1rem;
    }
    .big-heading {
        font-size: 2.9rem;
    }
    .small-heading {
        font-size: 1.9rem;
    }
    .nav {
        &__list {
            font-size: 1.5rem;
        }
    }
    .how {
        &__list {
            margin-right: 0;
        }
        &__item::before {
            right: -15px;
        }
    }
}

@media (max-width: 375px) {
    .modal-request,
    .modal-viewing,
    .modal-product,
    .cart {
        &__inner {
            padding: 20px 40px;
        }
        &__input {
            padding: 15px;
        }
    }
}